@import url('https://fonts.googleapis.com/css2?family=Noto+Nastaliq+Urdu:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Vazirmatn:wght@100..900&display=swap');

:root {
    --bg-color: #11121a;
    --line-color: #42434a;
    --hover-color: #222533;
    --txt-color: #e6e6ef;
    --acnt-color: #27adeb;
    --scnd-txt-color: #b0b3c1;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Vazirmatn', Poppins;
    line-height: 1.5rem;
    scroll-behavior: smooth;
}

body {
    direction: rtl;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--bg-color);
    color: var(--txt-color);
    display: grid;
    grid-template-columns: auto 1fr;
}

#sidebar {
    box-sizing: border-box;
    height: 100vh;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--bg-color);
    border-left: 1px solid var(--line-color);
    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
    text-wrap: nowrap;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

/* #sidebar span {
    font-family: 'Noto Nastaliq Urdu';
} */

#sidebar ul {
    list-style: none;
}

#sidebar > ul > li:first-child {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .logo{
      font-weight: 600;
    }
}
#sidebar ul li.active a {
    color: var(--acnt-color);
  
    svg{
      fill: var(--acnt-color);
    }
}
  
#sidebar a, #sidebar .dropdown-btn, #sidebar .logo {
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--txt-color);
    display: flex;
    align-items: center;
    gap: 1em;
}
.dropdown-btn {
    width: 100%;
    text-align: right;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--txt-color);
}

#sidebar a span, #sidebar .dropdown-btn span {
    flex-grow: 1;
}

#sidebar a:hover, #sidebar .dropdown-btn:hover {
    background-color: var(--hover-color);
}

#sidebar .sub-menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: 300ms ease-in-out;
  
    > div{
      overflow: hidden;
    }
}

#sidebar .sub-menu.show {
    grid-template-rows: 1fr;
}

.dropdown-btn svg {
    transition: 200ms ease;
}

.rotate svg:last-child {
    rotate: 180deg;
}

#sidebar .sub-menu a {
    padding-right: 2em;
}

#toggle-btn{
    margin-right: auto;
    padding: 1em;
    border: none;
    border-radius: .5em;
    background: none;
    cursor: pointer;
    rotate: 180deg;

    svg{
      transition: rotate 150ms ease;
    }
}

#toggle-btn:hover {
    background-color: var(--hover-color);
}
  
main {
    padding: min(30px, 7%);
}

section {
  width: 100%;
  min-height: 100vh;
}

#home {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-right {
  width: 50%;
}

.home-right h1 {
  margin-bottom: 4rem;
  font-size: 3rem;
  color: var(--acnt-color);
  font-family: 'Noto Nastaliq Urdu';
}

.home-right p {
  max-width: 500px;
}

@property --angle{
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.home-left {
  padding: .6em;
  width: 300px;
  text-align: center;
  position: relative;
}

.home-left::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), var(--acnt-color), transparent 80%);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: .2em;
  border-radius: 50%;
  animation: 3s spin linear infinite;
}

.home-left::after{
  filter: blur(.5rem);
  opacity: 0.9;
}

.home-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: rleative
}

.home-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

.social-icons{
  display: flex;
  gap: 20px;
  margin-top: 2em;
}
.social-icons a{
  background-color: var(--acnt-color);
  padding: 1em;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  flex-shrink: 0;
  display: grid;
  place-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
.social-icons a svg{
  height: 30px;
}
.social-icons a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--hover-color);
  color: var(--txt-color);
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 100px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  transform: translateY(30px) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.social-icons a:hover{
  background-color: var(--hover-color);
  fill: white;
}
.social-icons a::after{
  content: '';
  position: absolute;
  height: 0;
  width: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid var(--accent-color);
  transform: translateY(0) rotate(25deg);
  opacity: 0;
  transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.social-icons a:hover::before{
  transform: translateY(65px) rotate(0);
  opacity: 1;
}
.social-icons a:hover::after{
  transform: translateY(42px) rotate(0);
  opacity: 1;
}

/* Responsivity */

@media(max-width: 800px) {

  html {
    font-size: 10px;
  }

  /* Home */
  #home {
    flex-direction: column-reverse;
  }

  .home-right {
    text-align: center;
  }

  .home-left {
    width: 150px;
    height: 150px;
  }

  .home-img {
    width: 150px;
    height: 150px;
  }

  .social-icons {
    justify-content: center;
  }

  .social-icons a {
    width: 40px;
    height: 40px;
  }

  .social-icons a svg {
    height: 10px;
  }

  /* About */


}

/* Sidebar Responsivity */

@media(max-width: 800px) {
    body {
      grid-template-columns: 1fr;
    }

    main {
      padding: 2em 1em 60px 1em;
    }

    .container {
      border: none;
      padding: 0;
    }

    #sidebar {
      height: 60px;
      width: 100%;
      border-right: none;
      border-top: 1px solid var(--line-color);
      padding: 0;
      position: fixed;
      top: unset;
      bottom: 0;
      z-index: 100;
  
      > ul {
        padding: 0;
        display: grid;
        grid-auto-columns: 60px;
        grid-auto-flow: column;
        align-items: center;
        overflow-x: scroll;
      }

      ul li {
        height: 100%;
      }

      ul a, ul .dropdown-btn {
        width: 60px;
        height: 60px;
        padding: 0;
        border-radius: 0;
        justify-content: center;
      }
  
      ul li span, ul li:first-child, .dropdown-btn svg:last-child {
        display: none;
      }
  
      ul li .sub-menu.show {
        position: fixed;
        bottom: 60px;
        right: 0;
        box-sizing: border-box;
        height: 60px;
        width: 100%;
        background-color: var(--hover-color);
        border-top: 1px solid var(--line-color);
        display: flex;
        justify-content: center;
  
        > div {
          overflow-x: auto;
        }

        li {
          display: inline-flex;
        }

        a {
          box-sizing: border-box;
          padding: 1em;
          width: auto;
          justify-content: center;
        }
      }
    }
  }